body {
    background-color: darksalmon;
}

.login-form {
    background-color:tan;
    width: 45%;
    margin: 5rem auto 0 auto;
    padding: 3rem;
    border: 1px solid darkorange;
    border-radius: 10px 25px 10px 25px;
    overflow: hidden;
}

.login-form input {
    margin: 1rem auto 0 auto;
}

.bookContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 75%;
    margin: 5rem auto 5rem auto;
}

.bookDiv {
    display: flex;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    gap: 1rem;
}

.bookDivLeft {
    flex: 1;
}

.bookDivRight {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookTitle {
    background-color: aqua;
    text-align: center;
    margin-top: 0;
}

.bookDiv img {
    width: 128px;
    height: 183px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.bookPrice {
    background-color: purple;
}

.bookAuthor {
    background-color: brown;
}

.bookAddToCart form {
    margin-top: auto;
    margin: 0.25rem auto 0.25rem auto;
}